<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>org.owasp.securitylogging.webapp.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>org.owasp.security.logging.mdc.MDCFilter</filter-class>
        <init-param>
            <!-- component name is a free-from text value -->
            <param-name>ProductName</param-name>
            <param-value>securitylogging-webapp</param-value>
        </init-param>
        <!-- Plugins are specified by name and class -->
        <init-param>
            <param-name>ipAddress</param-name>
            <param-value>org.owasp.security.logging.mdc.plugins.ForwardedIPAddressPlugin</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>org.owasp.security.logging.mdc.plugins.UsernamePlugin</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern> 
    </filter-mapping>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
